## Задача 1
На складе лежат разные фрукты в разном количестве.
Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [24]:
def warehouse(**kwargs):
    summ = 0
    for vegetables, amount in kwargs.items():
        print(f'{vegetables} - {amount}')
        summ = summ + amount
    return f'Всего овощей на складе {summ}'

In [26]:
warehouse(banana = 10, orange = 15, apple = 8)

banana - 10
orange - 15
apple - 8

'Всего овощей на складе 33'

## Задача 2
Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты

[100, 125, -90, 345, 655, -1, 0, 200]

Используйте list comprehensions

In [44]:
orig_prises = [100, 125, -90, 345, 655, -1, 0, 200]

prises = []
sum_expenses = 0
for i in orig_prises:
    if i > 0:
        prises.append(i)
    sum_expenses += i
print(prises)
print(f'Общие затраты на рекламу {sum_expenses}')

[100, 125, 345, 655, 200]
Общие затраты на рекламу 1334

In [54]:
orig_prises = [100, 125, -90, 345, 655, -1, 0, 200]

prises = [i for i in orig_prises if i > 0]
prises

[100, 125, 345, 655, 200]

## Задача 3
Даны два списка.

Дата покупки

['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', 
 '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', 
 '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', 
 '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
 
Суммы покупок по датам

[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 
 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

### Найдите, какая выручка у компании в ноябре
 
Используйте list comprehensions

In [2]:
def all_purchases(date, summ):
    purchase = {}
    for i in range(len(date)):
        purchase.update(
        {
            date[i]: summ[i]
        }
        )
    return purchase

dates = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', 
        '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', 
        '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', 
        '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', 
        '2021-10-26', '2021-12-09']
summ = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 
        2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]
all_purchases(dates, summ)

{'2021-09-14': 1270,
 '2021-12-15': 8413,
 '2021-09-08': 9028,
 '2021-12-05': 3703,
 '2021-10-09': 2732,
 '2021-09-30': 2008,
 '2021-12-22': 295,
 '2021-11-29': 4944,
 '2021-12-24': 5723,
 '2021-11-26': 3701,
 '2021-10-27': 4471,
 '2021-12-18': 651,
 '2021-11-09': 316,
 '2021-11-23': 4274,
 '2021-09-27': 6275,
 '2021-10-02': 4988,
 '2021-12-27': 6930,
 '2021-09-20': 2971,
 '2021-12-13': 6333,
 '2021-11-01': 2004,
 '2021-12-06': 519,
 '2021-12-08': 3406,
 '2021-10-31': 5015,
 '2021-10-26': 5700,
 '2021-12-09': 2887}

In [4]:
sum([summ[i] for i in range(len(dates)) if dates[i].split('-')[1] == '11'])

25098

### 4.2 Найдите выручку компании в зависимости от месяца
Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.
Используйте аннотирование типов.

In [5]:
def revenue_by_mounth(dates, summ):
    revenue = {}
    
    for i in range(len(dates)):
        mounth = dates[i].split('-')[1]
        if mounth in revenue.keys():
            revenue[mounth] += summ[i]
        else:
            revenue[mounth] = summ[i]
    return revenue
revenue_by_mounth(dates, summ)

{'09': 25647, '12': 45452, '10': 28645, '11': 25098}